* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.carosal-container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}

.contents {
  background-image: url("https://cdn.pixabay.com/photo/2021/04/19/12/54/sunset-6191334_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding: 50px;
  color: #fff;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 40px;
}

.contents h1 {
  width: 40%;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.contents p {
  color: #fff;
  text-transform: capitalize;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;

  padding: 40px;
}
.paras {
  margin-top: 40px;
  width: 70%;

  /* padding-right: 40px; */
}
.paras p {
  color: #000;
  font-weight: 300;
  padding: 30px;
}
.contents button {
  color: #000;
  border: 2px solid #fff;
  padding: 10px 30px;
  text-transform: capitalize;
  background: none;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
}
