.footer-3 h2 {
  font-size: 18px;
  color: rgba(113, 124, 255);
}
.icons {
  padding: 20px;
  color: #fff;
  margin-left: 10px;
}
.footer-head {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
