.title {
  text-align: center;
  margin-bottom: 1.75rem;
}
.title h1 {
  font-size: 30px;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgba(229, 231, 235);
}
.title span {
  color: rgba(113, 124, 255);
}
.side-section {
  display: flex;
  flex-direction: row;
  border-color: rgba(229, 231, 235);
}
.blog-post {
  min-width: 43.75rem;
  width: 100%;
}
.cont {
  height: 25rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border-color: rgba(229, 231, 235);
}
.cont img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 15px;
}
.blog-head {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
.blog-head h3 {
  font-size: 18px;
  font-weight: 600;
}
.blog-head span {
  color: rgba(79, 91, 232);
  font-size: 0.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgba(227, 229, 255);
  align-items: center;
}
.span {
  display: flex;
  justify-content: flex-end;
}
.sidebar {
  padding-left: 2.5rem;
  width: 100%;
}
.sidebarItem {
  margin-bottom: 2rem;
}
.sidemenu {
  align-items: center;
  display: flex;
}
.menuImg {
  /* width: 6rem; */
  height: 6rem;
  margin-right: 1.5rem;
}
.menuImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 1rem;

  border-color: rgba(229, 231, 235);
}
.sidemenu h3 {
  font-size: 15px;
  line-height: 1.75rem;
  font-weight: 800;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidemenu span {
  font-size: 0.875rem;
  color: rgba(115, 115, 115);
  font-weight: 500;
  margin-top: 0.25rem;
}
@media screen and (min-width: 850px) {
  .side-section {
    flex-direction: row;
    display: flex;
    padding-top: 30px;
  }
  .blog-post {
    width: 50%;
  }
  .cont {
    height: 25rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 30px;
  }
  .side-section {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .blog-post {
    width: 50%;
  }
  .cont {
    width: 50%;
    /* padding-left: 50px;
    padding-right: 50px; */
  }
  .cont img {
    object-fit: cover;
    width: 100%;
  }
  .blog-head {
    font-size: 15px;
  }
}
