* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont {
  flex: 3;
  width: 100%;
}
.title {
  align-items: center;
  text-align: center;
}
.title h1 {
  font-size: 30px;
  padding: 25px;
}
.title span {
  color: rgba(113, 124, 255);
}

img {
  width: 100%;
}
.blog-post {
  display: flex;
}

/* sidebar */

.sidebar {
  width: 40%;
  padding: 20px;
}
.side-section {
  display: flex;
}
.blog-post {
  width: 50%;
  margin: 15px;
  padding-left: 30px;
}
.para {
  display: flex;
  margin: 10px;
}
.para p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.feature {
  background-color: rgba(250, 250, 250);
}
.btns {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  color: blue;
  margin: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-section span {
  color: gray;
  padding-left: 50px;
}
.blog-post-img {
  border-radius: 2rem;
}
.sidebarItem {
  margin-bottom: 2rem;
}
.sidemenu {
  display: flex;
  align-items: center;
}
.menuImg {
  height: 5rem;
  margin-right: 20px;
}
.image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}
.heading-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 2rem;
  flex-direction: column;
  display: flex;
  margin: 10px;

  text-transform: uppercase;
  font-family: sans-serif;
}
.heading-title span {
  color: rgba(115, 115, 115);
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
