.blog-container {
  width: 100%;
}

.blog-head {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 36%;
  text-align: center;
}
.blog-head h1 {
  font-size: 50px;
  font-weight: 800;
  display: block;
  color: rgba(55, 55, 55);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-color: rgba(229, 231, 235);
}
.formData {
  background-color: #f1f1f1;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
form input {
  text-transform: capitalize;
  font-size: 15px;
  color: rgba(115, 115, 115);
  padding: 10px;
  width: 70%;
  margin-right: 30px;
}
.form button {
  color: rgba(115, 115, 115);
  padding: 12px;
  width: 30%;
  background-color: #717cff;
  color: #fff;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
