* {
  margin: 0;
  padding: 0;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: rgba(113, 124, 255);
}
.nav ul {
  padding: 20px;
  display: flex;
  cursor: pointer;
  list-style: none;
}
.nav li {
  padding: 20px;
  border: 1px solid black;
  border-radius: 2em;
}
