* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding: 15px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #fafafa;
}
.blog-container {
  margin: 0 auto;
  max-width: 1250px;
}
.blog-container h1 {
  /* font-size: 20px; */
  line-height: 2rem;
  font-weight: bold;
  padding-left: 15px;

  text-transform: capitalize;
}
.cards {
  /* padding: 5px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}
.card-single {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 14rem;
  background-color: #fff;
  padding: 15px;
  margin: 10px;
}
.img-section {
  object-fit: cover;
  width: 3.75rem;
  height: 3.75rem;
  padding-top: 15px;
  background-color: #fff;
}
.img-section img {
  width: 100%;
}
.card-span {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
}
.card-span h3 {
  color: rgba(55, 55, 55);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75rem;
  padding-top: 10px;
}
.card-span span {
  color: rgba(215, 215, 215);
}
.card-single div:last-child span {
  color: gray;
}
