footer {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: rgba(55, 55, 55);
}
.footer-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.footer-1 {
  flex: 1;
}
.footer-1 h2 {
  color: rgba(255, 255, 255);
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.footer-1 span {
  color: rgba(113, 124, 255);
}

.footer-1 p {
  padding-right: 7rem;
  color: rgba(215, 215, 215);
  margin-top: 1.25rem;
  line-height: 2rem;
  text-align: justify;
}
.footer-2 {
  flex: 1;
}
.footer-list {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
.footer-list span {
  color: rgba(113, 124, 255);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.footer-content {
  flex-direction: row;
  display: flex;
  padding-top: 20px;
}
.footer-item {
  flex-direction: column;
  display: flex;
  /* margin-top: 1.25rem; */

  color: rgba(215, 215, 215);
}
.footer-item a {
  padding: 10px;
}
.box {
  padding-left: 5rem;
}
.footer-3 {
  flex: 1;
}
.footer-3 h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(113, 124, 255);
}
.icons {
  width: 50%;
  padding-top: 20px;
  display: flex;
  color: #fff;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-1 h2 {
    text-align: center;
  }
  .footer-1 p {
    text-align: justify;
    display: flex;
    align-items: center;
    padding-left: 50px;
    line-height: 2rem;
  }
  .footer-list {
    margin-top: 20px;
  }
  .footer-list h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
  }
  .footer-item a {
    padding: 10px;
    flex-direction: column;
    display: flex;
  }
  .footer-3 {
    margin-top: 20px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
