.wrs_container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.wrs_section_1 {
  width: 100%;
  background-color: white;
}
.wrs_section_2 {
  width: 100%;
  background-color: #fafafa;
}
