* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: transparent;
  color: #000;
}
.nav-img {
  font-size: 18px;
}
nav h3 {
  color: blue;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav span {
  color: black;

  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-links {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-links li {
  color: #000;
  font-size: 18px;
  list-style: none;
}
.btn {
  border: 1px solid blue;
  border-color: blue;
  padding: 10px;
  width: 150px;
  border-radius: 8px;
  background-color: #fff;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 780px) {
  nav h3 {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }

  .btn {
    margin: 10px;
    border: none;
    border: 1px solid blue;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    text-align: center;
    list-style: none;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  .nav-links li {
    list-style: none;
    color: #000;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }
  .menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: #000;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
}
